:root{
    /* Color styles */
    --black: rgba(0, 0, 0, 1);
    --gray2: rgba(112, 115, 146, 1);
    --gray1: rgba(231, 222, 226, 1);
    --white: rgba(255, 255, 255, 1);
    --dominante: rgba(71, 21, 178, 1);
    --tonique-2: rgba(255, 245, 0, 1);
    --tonique-alt1: rgba(255, 123, 28, 1);
    --tonique: rgba(237, 4, 49, 1);
    --dominante-dark: rgba(30, 24, 98, 1);

    /* Text-size styles */
    /* base size: heading1 (24px) */
    --heading: 1.5rem;
    --body: 0.8rem;
    --button: 0.68rem;
    --small-text: 0.62rem;
    --button-big: 0.68rem;

  /* Polices de caractère */
  --monoton: 'Monoton';
  --biorhyme: 'BioRhyme';
  --italic: 'Trirong';
  --syncopate: 'Syncopate';

  /* Letter spacing */
  --l20: .2rem;
  --l15: .15rem;
  --l10: .1rem;
  --btn: -0.05rem;

  /* Espaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 48px;
  --space5x: 80px;
}