.page404{
    top: 0;
    height: 100vh;
    background: linear-gradient(0deg, var(--dominante-dark) 7%, var(--dominante) 100%);
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page404::before{
    content: url(../../../public/img/img/pattern-big-4.svg);
    position: absolute;
    right: -145px;
    top: -230px;

    transform: rotateZ(25deg);
}

.page404__btn{
    font-family: var(--syncopate);
    font-size: var(--button);
    font-weight: 700;
    letter-spacing: var(--btn);
    color: var(--tonique-2);
    
    align-self: flex-end;
}