.art__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.art__title{
    color: var(--tonique);
    text-align: center;
}
.title--em{
    font-family: var(--monoton);
    letter-spacing: var(--l20);
    line-height: 140%;
    text-transform: lowercase;
    font-style: normal;
}


.art__figure{
    margin: 0;
}
.art__img--frame{
    height: 25vh;
    width: 100vw;
}
.art__img{
    object-fit: cover;
}


.art__infos{
    position: relative;
    background-color: var(--tonique-2);
    padding: 4px;
    padding-bottom: var(--space2x);

    width: 40vw;
    left: 5vw;
    top: -2vh;

    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.art__info--text{
    color: var(--black);
    font-size: var(--small-text);
    font-weight: 300;
    letter-spacing: 0;
    line-height: 150%;
    width: 100%;
    
    margin: 0px var(--space2x);
}


.art__chapo{
    margin: var(--space2x);
    margin-bottom: var(--space4x);

    color: var(--gray2);
    font-weight: 700;
}
.art__chapo::after{
    content: "";
    position: relative;
    display: block;
    
    bottom: -16px;
    left: 5vw;
    height: 2px;
    width: 80vw;
    background-color: var(--tonique);
}


.art__text{
    margin: var(--space2x);
    margin-bottom: var(--space4x);
}
.subtitle{
    font-weight: 700;
    text-align: center;
    line-height: 140%;
    letter-spacing: var(--l10);
}

.paroles{
    position: relative;
    margin-left: 5vw;
}