.art__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.art__title{
    color: var(--tonique);
    text-align: center;
}
.title--em{
    font-family: var(--monoton);
    letter-spacing: var(--l20);
    line-height: 140%;
    text-transform: lowercase;
    font-style: normal;
}


.art__figure{
    margin: 0;
}
.art__img--frame{
    height: 25vh;
    width: 100vw;
}
.art__img{
    object-fit: cover;
}


.art__chapo{
    margin: var(--space2x);
    margin-bottom: var(--space4x);

    color: var(--gray2);
    font-weight: 700;
}
.art__chapo::after{
    content: "";
    position: relative;
    display: block;
    
    bottom: -16px;
    left: 5vw;
    height: 2px;
    width: 80vw;
    background-color: var(--tonique);
}


.art__text{
    margin: var(--space2x);
    margin-bottom: var(--space4x);
}
.subtitle{
    font-weight: 700;
    text-align: center;
    line-height: 140%;
    letter-spacing: var(--l10);
}