.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white);

    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(0deg, var(--dominante-dark) 35%, var(--dominante) 100%);
    height: 450px;
    top: 64px;
}
.footer__start{
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 164px;
    width: 56vw;
}
.footer__item{
    font-family: var(--syncopate);
    font-size: var(--button);
    font-weight: 700;
    letter-spacing: var(--btn);
    color: var(--white);
}
.footer__bar{
    position: relative;
    top: -24px;
    background-color: var(--white);
    height: 2px;
    width: 163px;
    transform: rotate(90deg);
}
.footer__logo{
    padding-bottom: var(--space3x);
    padding-right: var(--space3x);
}

.footer__text{
    display: flex;
    flex-direction: column;
    margin: var(--space1x) var(--space2x);
}
.footer__credits,
.footer__legal-mentions{
    position: relative;
    z-index: 2;
    font-weight: 300;
    text-align: center;
    text-indent: 0%;
    color: var(--gray1);
}