.footer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    color: var(--white);

    background-color: var(--dominante);
}

.footer__bar{
    background-color: var(--white);
    height: 2px;
    width: 163px;
    transform: rotate(90deg);
}

/*
.footer__bg{
    content: "";
    display: flex;
    position: relative;
    bottom: 0;
    height: 400px;
    z-index: -1;

    background : linear-gradient(var(--dominante)35%, var(--dominante-dark));

    clip-path: polygon(0 21%, 100% 8%, 100% 100%, 0% 100%);
}

.footer__bg::before{
    content: "";
    transform: rotateZ(8deg);
    
}
*/