.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__img {
    object-fit: cover;
    filter: brightness(0.6);
}

.hero__text {
    position: relative;

    color: var(--white);
    width: 60vw;
    
    top: 50vw;
    z-index: 1;

    text-align: center;
    align-self: center;
    
}


.intro,
.intro__text{
    margin: var(--space2x);
}

.intro{
    font-size: var(--heading);
    color: var(--tonique);
}
.intro__text{
    margin-bottom: var(--space4x);
}