.sec-page{
    background: linear-gradient(0deg, var(--dominante-dark) 7%, var(--dominante) 100%);
    overflow-x: hidden;
}
.sec-content::before{
    content: url(../../../public/img/img/pattern-big-4.svg);
    position: absolute;
    right: -145px;
    top: -216px;

    transform: rotateZ(25deg);
}


.sec-page__title{
    display: block;
    text-align: center;
    margin-bottom: 5vh;

    font-family: var(--monoton);
    letter-spacing: var(--l20);
    line-height: 140%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;

    color: var(--tonique-2);
}
.sec-page__title::after{
    content: "";
    display: block;
    position: relative;

    bottom: -8px;
    height: 2px;
    width: 80vw;

    background-color: var(--white);
}


.sec-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.sec-content__item{
    width: 90vw;
}
.item__title{
    color: var(--tonique-2);
    font-weight: 700;
    margin: 0;
    margin-left: var(--space2x);
}
.item__content{
    margin: 0;
    width: 90vw;
}