.sec-page{
    height: 100vh;
    background-color: var(--dominante);
}
.sec-page::before{
    content: url(../../../public/img/img/pattern-big-4.svg);
    position: absolute;
    right: -145px;
    top: -230px;

    transform: rotateZ(25deg);
}


.sec-page__title{
    display: block;
    text-align: center;
    margin-bottom: 5vh;

    font-family: var(--monoton);
    letter-spacing: var(--l20);
    line-height: 140%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;

    color: var(--tonique-2);
}
.sec-page__title::after{
    content: "";
    display: block;
    position: relative;

    bottom: -8px;
    left: 10vw;
    height: 2px;
    width: 80vw;

    background-color: var(--white);
}


.glossary{
    margin-left: var(--space2x);
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.glossary__item__title{
    color: var(--tonique-2);
    font-weight: 700;
    margin: 0;
    margin-left: var(--space2x);
}
.glossary__item__content{
    margin: 0;
}