.caroussel {
    position: relative;
    margin-top: var(--space4x);
    display: flex;
    overflow: hidden;
    height: 56vw;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
.carrousel__img{
    width: 100%;
    flex: none;
    align-self: center;
    scroll-snap-align: start;
}


.caroussel__links{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: var(--space1x);
    margin-bottom: var(--space1x);

    gap: 10%;
    height: 32px;
}

.caroussel__item{
    display: block;
    border: solid 2px var(--gray);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    transition: all .2s ease-in-out;
}
.actif{
    border: solid 2px var(--white);
    border-radius: 2%;
    height: 20px;
    width: 20px;
    transition: all .2s ease-in-out;
}


.carrousel__btn{
    width: 48px;
    height: 48px;
    font-size: var(--h1size);
    font-family: var(--btn);
    font-weight: 300;
    color: var(--gray);
    transition: all .1s ease-in-out;
}
.carrousel__btn:active{
    color: var(--white);
    transform: scale(1.4) translateX(-8%);
}
.carrousel__btn--suiv:active{
    transform: translateX(8%);
}