.caroussel {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 48vh;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;

    background-color: var(--white);
}
.carrousel__img{
    height: 90%;
    aspect-ratio: 1/1;
    flex: none;
    scroll-snap-align: start;
}
.carrousel__img--caption{
    text-align: center;
    text-indent: 0%;
}