.caroussel {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 32vh;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;

    background-color: var(--white);
    box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.50) inset;

    scrollbar-color: var(--tonique) var(--dominante);
}
.carrousel__img{
    height: 80%;
    aspect-ratio: 1/1;
    flex: none;
    scroll-snap-align: start;
}
.carrousel__img--caption{
    text-align: center;
    text-indent: 0%;
}