.project-card{
    display: flex;
    justify-content: space-around;
}


.project-card__img--frame{
    height: 140px;
    width: 140px;
    clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0% 50%);
}
.project-card__img{
    object-fit: cover;
}
.project-card__img::after{
    content: url(../../../public/img/icones/hevagon.svg);
}
.project-card__title{
    font-family: var(--biorhyme);
    font-weight: 300;
    font-size: var(--heading);
    line-height: 1.1;
    letter-spacing: var(--l15);
}
.project-card__subtitle{
    font-family: var(--syncopate);
    font-size: var(--button);
    font-weight: 700;
    letter-spacing: var(--btn);
    color: var(--white);
    text-transform: uppercase;
}